@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}

/* nav-bar related styles */
.nav-item{
    list-style: none;
    padding: 25px;
}
.nav-link{
    text-decoration: none;
}
.nav-bar{
    justify-content: space-evenly;
    align-items: center;
}
.nav-btn{
    background-color: #FEA301;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
}
.nav-title{
    font-weight:bold ;
    font-size: 19px;
    color: black;
}
#link-one{
    color: #FEA301;
    font-size: 15px;
    font-weight: bold;
}
#link-two{
    color: #01ACFD;
    font-size: 15px;
    font-weight: bold;
}
#link-three{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#link-four{
    color: blue;
    font-size: 15px;
    font-weight: bold;
}

/* banner section start */
.banner {
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 220px;
    padding: 22px;
}
.banner-info{
    margin-top: 140px;
}
.banner-btn{
    background-color: black;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
}
#empower{
    font-size: 36px;
    font-weight: bold;
    color: #FEA301;
}
#small{
    font-size: 36px;
    font-weight: bold;
    color: black;
}
#age{
    font-size: 36px;
    font-weight: bold;
    color: black;
}
#vision{
    font-size: 36px;
    font-weight: bold;
    color: #01ACFD;
}
#banner-pic{
    width: 350px;
    height:450px;
    margin-right: 100px;
    margin-top: 40px;
    margin-left: 10px;
}

/* Footer Related Styles */
.footer-bg{
    margin-top: 45px;
    background-color: #01ACFD;
    color: aliceblue;
    padding-left: 100px;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-info-pic{
    height: 55px;
    width: 55px;
    box-shadow: none;
    border-style: hidden;
}
.menu-title{
    list-style: none;
    margin-bottom: 20px;
    }
.menu-link{
    text-decoration: none;
    color: aliceblue;
}
#keep{
    margin-left: 40px;
    font-size: 17px;
    font-weight: bold;
    }
#about{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.footer-menu-pic{
    list-style: none;
    margin-right: 10px;
    }
.pic-item{
    height: 25px;
    width: 25px;
}
.footer-contact{
    margin-right: 200px;
}

/* Responsive Media Query */
/* @media screen and (max-width:576px) {
    .nav-bar, .nav-links{
        flex-direction: column;
    } 
} */