@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}

/* nav-bar related styles */
#nav-image{
    height: 45px;
    margin-top: 14px;
}
.nav-title{
    font-weight:bold ;
    font-size: 12px;
    color: black;
}
.nav-item{
    list-style: none;
    padding: 25px;
}
.nav-link{
    text-decoration: none;
}
.nav-bar{
    justify-content: space-evenly;
    align-items: center;
}
.nav-btn{
    background-color: #FEA301;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
}

#link-one{
    color: #FEA301;
    font-size: 15px;
    font-weight: bold;
}
#link-two{
    color: #01ACFD;
    font-size: 15px;
    font-weight: bold;
}
#link-three{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#link-four{
    color: blue;
    font-size: 15px;
    font-weight: bold;
}

/* banner section start */
.banner {
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 220px;
        }
.banner-info{
    margin-top: 100px;
    margin-left: 80px;
}
.banner-btn{
    background-color: black;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
}
#empower{
    font-size: 36px;
    font-weight: bold;
    color: #FEA301;
}
#small{
    font-size: 36px;
    font-weight: bold;
    color: black;
}
#age{
    font-size: 36px;
    font-weight: bold;
    color: black;
}
#vision{
    font-size: 36px;
    font-weight: bold;
    color: #01ACFD;
}
#banner-pic{
    width: 290px;
    height: 350px;
    margin-right: 100px;
    }

/* curriculum related styles */
.curri-bg{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
      }
#curri-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 60px; */
}
.age-cat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 200px;
    margin-left: 200px;
    }
.age {
    align-content: center;
    text-align: center;
    }
.age-kinder{
    background-color: #DEF5FF;
    width: 250px;
    height: 300px;
    padding: 25px 25px;
}
#kinder-btn{
    font-size: 10px;
    font-weight: bold;
    color: blue;
    border: none;
    background-color: #DEF5FF;
}
.age-elementary{
    background-color: #FFF4DC;
    width: 250px;
    height: 300px;
    padding: 25px 25px;
}
#elementary-btn{
    font-size: 10px;
    font-weight: bold;
    color: tomato;
    border: none;
    background-color: #FFF4DC;
}
.age-middle{
    background-color: #F2E8FF;
    width: 250px;
    height: 300px;
    padding: 25px 25px;
}
#middle-btn{
    font-size: 10px;
    font-weight: bold;
    color: violet;
    border: none;
    background-color: #F2E8FF ;
}
#btn-final{
    background-color: #FEA301;
    border-radius: 100%;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
    margin-left: 710px;
    margin-top: 20px;   
}

/* Story Related Styles */
.story{
    background-image: url(../assets/bg.png);
    background-color: rgba(254, 163, 1, 0.3);
}
.story-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 45px;
    }
.inside-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
     } 
.cover-pic{
    padding-right: 20px;
    padding-left: 70px;
       }
.cover-title{
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
}
.cover-info{
    font-size: 13px;
    font-weight: 400;
    padding-left: 25px;
}
.story-btn{
    background-color: black;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
    margin-left: 710px;
    margin-bottom: 35px;
}
    
/* Footer Related Styles */
.footer-bg{
    margin-top: 45px;
    background-color: #01ACFD;
    color: aliceblue;
    padding-left: 100px;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-info-pic{
    height: 60px;
    width: 55px;
    margin-top: 25px;
    background-color: aliceblue;
    }
.menu-title{
    list-style: none;
    margin-bottom: 20px;
    }
.menu-link{
    text-decoration: none;
    color: aliceblue;
}
#keep{
    margin-left: 40px;
    font-size: 17px;
    font-weight: bold;
    }
#about{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
#edu{
    font-size: 27px;
    font-weight: bold;
    margin-left: 5px;
}
.footer-menu-pic{
    list-style: none;
    margin-right: 10px;
    }
.pic-item{
    height: 25px;
    width: 25px;
}
.footer-contact{
    margin-right: 200px;
}

/* Responsive Media Query  */
@media screen and (max-width:576px) {
    .nav-title,
    .nav-links,
    .nav-item,
    .nav-btn {
        display: none;
    }
    #nav-image{
        margin-right: 320px;
        margin-bottom: 10px;
    }
    .nav-bar{
        width: 310px;
        border-bottom: 2px solid orange;
        margin-bottom: 30px;
            }
    .banner{
        width: 80px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;   
    } 
    #banner-title{
        margin-right: 160px;
        margin-top: -60px;
    }
    #banner-para{
        margin-right: 110px;
    }
    .banner-btn{
        margin-right: 120px;
    }
    .age-cat{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 17px;
        margin-left: 45px;
            }
    #curri-title{
        text-align: center;
    }
    .story{
        background-image: url(../assets/bg.png);
        background-color: white;
          }
    .cover-pic{
        display: none;
            }
    .inside-pic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;  
    }
    .single-pic{
        width: 190px;
    }
    .story-btn{
        margin-left: 130px;
    }
    
    
}