@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}

/* nav-bar related styles */
.nav-item{
    list-style: none;
    padding: 25px;
}
.nav-link{
    text-decoration: none;
}
.nav-bar{
    justify-content: space-evenly;
    margin-top: 25px;
    align-items: center;
}
.nav-btn{
    background-color: #FEA301;
    border-radius: 8px;
    box-shadow: none;
    border-style: hidden;
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
    padding: 9px 40px;  
}
.nav-title{
    font-weight:bold ;
    font-size: 19px;
    color: black;
}
#link-one{
    color: #FEA301;
    font-size: 15px;
    font-weight: bold;
}
#link-two{
    color: #01ACFD;
    font-size: 15px;
    font-weight: bold;
}
#link-three{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#link-four{
    color: blue;
    font-size: 15px;
    font-weight: bold;
}